@model newExam.Models.Tour
@using (Html.BeginForm("SetOrder", "Home", FormMethod.Get))
{
<div class="pull-right">
   @Html.HiddenFor(t => t.Id)
    @*@Html.Hidden("returnUrl", Request.Url.PathAndQuery)*@
    <input type="submit" class="btn btn-success" value="Приобрести" />
</div>
}
